#modal-button-hide{
   color: black;
   background-color: yellow;
 
}
#modal-button-show{
    color: black;
    background-color: yellow;
  
 }
#p1{
color:royalblue;
}
#img{
    width: 20;
    height: 20
}